<!DOCTYPE html>
<html>
<head>
	<title>Ducks Kicks</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
	<div class="page container">
		<div class="navbar navbar-default">
			<div class="col-md-12">
				<a href="/" class="navbar-brand">Duckskicks</a>
				{% if not session.logged_in %}
					<a href="{{ url_for('login') }}" class="btn btn-default navbar-btn pull-right">Log In</a>
				{% else %}
					<div class="navbar-text">
						<a href="{{ url_for('new_sneaker') }}" class="navbar-link">Add Sneaker</a>
					</div>
					<a href="{{ url_for('logout') }}" class="btn btn-default navbar-btn pull-right">Log Out</a>
				{% endif %}
			</div>
		</div>
		
		{% for message in get_flashed_messages() %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true"><i class="fa fa-times"></i></span>
				</button>
				{{ message }}
			</div>
		{% endfor %}

		{% block body %}
		{% endblock %}
	</div>
	<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>